[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.1"
sqlalchemy = "==2.0.41"
flask-jwt-extended = "==4.7.1"
flask-sqlalchemy = "==3.1.1"
dotenv = "==0.9.9"
flask-cors = "==6.0.0"
pydantic = {extras = ["email"], version = "*"}
psycopg2 = "==2.9.10"
flask-bcrypt = "==1.0.1"
gunicorn = "==23.0.0"

[dev-packages]

[requires]
python_version = "3.13"
